p {
    color:red;
    font-weight: blueviolet;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
h1 {
    color: aliceblue;
    border: 5px solid red;
    background-color: black;
    text-align: center;
}
img{width: 24%;
    
    text-align: center;
    
    }
button{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 20px;
}    
body{background-color: black;}
